tiny.keycloak.auth_server_url=

tiny.keycloak.admin_context=
tiny.keycloak.admin_password=
tiny.keycloak.admin_realm=

tiny.keycloak.client_realm=
tiny.keycloak.client_id=
tiny.keycloak.client_secret=

# 以下はテストで使っているので、組み込み環境では不要

tiny.keycloak.test_user=
tiny.keycloak.test_password=